.Discounts {
    width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    font-size: 11pt;
}

@media (min-width: 1170px) {
    .Discounts {
        width: 1100px;
    }
}