.Teachers {
    width: 70%;
    margin: 0 auto;
}

.Header {
    font-size: 1.6em;
    color: rgb(79, 79, 79);
    margin: 80px auto;
}

.TeacherList {
    list-style: none;
    text-align: justify;
}

.TeacherList li {
    display: flex;
    justify-content: space-between;
}

.Text {
    color: gray;
    font-size: 11pt;
    line-height: 1.8em;
}