.Section {
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    color: gray;
    line-height: 1.4em;
    padding-right: 15px;
    padding-left: 15px;
}

.Header {
    font-size: 1.6em;
    color: rgb(79, 79, 79);
    margin-bottom: 60px;
}

.Subheader {
    padding-bottom: 20px;
    margin-top: 30px;
    font-size: 1.1em;
    color: rgb(149, 149, 149);
}

.Discounts {
    font-size: 11pt;
    text-align: center;
}

.Discounts a {
    text-decoration: none;
    color: rgb(86, 212, 201);
}

.Section *:not(.Header,.Subheader,.Discounts) {
    font-size: 11pt;
    text-align: justify;
}

.Section ul {
    list-style: outside;
    text-align: left;
}


@media (min-width: 810px) {
    .Section {
        width: 750px;
    }
}


@media (min-width: 990px) {
    .Section {
        width: 870px;
    }
}
